* {
    font-family: "Segoe UI",Arial,sans-serif;
}
.timer {
    display: none;
}

.quiz {
    display: none;
}

.save-score{
    display:none;
}

.score-board{
    display: none;
}

.container{
      display: flex;
}
.start{
    margin: 0 auto;
}

.start button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }
